@font-face {
  font-family: "test";
  src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "test";
}
nav {
  background-color: black;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  z-index:9999;
}
.container {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;}
  #logoimg {
  width: 137px;
  padding-bottom: 4px;
  margin-right: 221px;
}
.fst-ul {
  gap: 30px;
  display: flex;
  
  /* ----------------------------------------------------------- */
.choices {
  list-style: none;
  
 
.c {
  font-family: "test";
 color: rgba(255, 255, 255, .7);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 28px;

position:relative;



  &:after{
    content: "";
    position:absolute;
   
    top:45%;
    left:110%;
    border-left: 4px solid transparent;
    border-right:4px solid transparent;
    border-top:6px solid  rgba(255, 255, 255, .7);
    
  }

&:hover {
  color: #ffffffcc;
}
}
.snd-ul {
  background-color: black;
  list-style: none;
  position: absolute;
  z-index: 9999;
  display: none;
    padding: .3rem 1.5rem;
    .choices:hover & {
  display: block;
}
.inner-links {
  text-decoration: none;
  color: #5e6e82;
    /* padding-top:4.8px;
  padding-bottom:4.8px; */
      
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:hover {
  transition: 500ms;
  color: white;

}
}
}
}
}
.mkreser {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 52px;
  padding-left: 52px;
  font-weight: 700;
  border: 2px solid;
  cursor: pointer;
  color: #ffc554;
  background-color: transparent;
  border-color: #ffc554;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 221px;
  &:hover {
  background-color: #ffc554;
  color: #5e6e82;
}
}
main{
  display:flex;
  flex-direction: row;
  align-items: center;

  
}
.container2 {

height:100vh;

}
#vector{
position:absolute;
z-index:-1;
height:101vh;
  width:35%;


}
#plate{
 
vertical-align:middle;
position:relative;
z-index:5;

  width:570.9px;
  height:570.9px;
  left:3.5rem;
  top:17vh;


}
.innercontainer{
width:65%;
margin-left: 13%;


.h1firstpage{
margin-bottom: 0.5rem;
  #h1f1{
    
  font-weight:400;
  line-height:1.2;
  font-family:none;
  font-size: 2.44141rem;
  color: #000;
  text-align:left;
  display:inline-block;
  width:40%;
 
  span{
   
   font-family:"Merriweather";
    font-weight:700;
 font-size: 2.44141rem;
  color: #000;
  }
  }

}
.pfirstpage{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5e6e82;
        margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    width:55%;
}
  .buttons{
    #leftbutton{
margin-right: 16px;
margin-top: 16px;
border-radius: .25rem;
padding: .4125rem 3.25rem;
color: #4d5969;
background-color: #ffc554;

border:1px solid #ffc554;
    display: inline-block;
    font-weight: 700;
   font-size:1rem;
    text-align: center;
    vertical-align: middle;
    &:hover{
color: #4d5969;
    background-color: #ffb82e;
    border-color: #ffb421;
    }
    }
    #rightbutton{
margin-right: 16px;
margin-top: 16px;
padding: .4125rem 3.25rem;
border-radius: .25rem;
    color: #ffc554;
background-color: transparent;
border:2px solid #ffc554;
    display: inline-block;
    font-weight: 700;
   
    text-align: center;
    vertical-align: middle;
font-size: 1rem;;
    &:hover{
    color: #4d5969;
    background-color: #ffc554;
    border-color: #ffc554;
    }


    }
  }
}




#menu{
padding-top: 120px;
padding-bottom: 120px;
.containermen{
  margin-right: 212px;
  margin-left: 212px;
.top{
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 64px;
#men{
color: #232e3c;
font-size: 1.5625rem;
font-weight: 700;
margin-bottom: .25rem;
text-align: center;
line-height: 1.5;
width: 100%;
}

.taste{
font-size: 2.44141rem;
font-weight: 700;
margin-bottom: .5rem;
    font-family: "Merriweather";
    
    line-height: 1.2;
    color: #000;
        text-align: center





}

}

#pictures{
  width: 1480px;
  display: flex;
  flex-direction:row;
  align-items:center;
  .details{
      position:relative;
.mid{
    margin-right: 10px;
    
    height: 444.672px;
    border-radius: .30rem;
    position:relative;
   
}
.detailscontainer{
position:absolute;
z-index:2;



          .details:hover & .overlay {
        display: block;
         background-color: rgba(0, 0, 0, 0.5);
        transition:500ms;
      }
 

    .overlay{
position:absolute;
inset:0;
display:none;
z-index:3;
.details:hover &{
  display:block;
transition:500ms;

}
.maintitle{
    font-size: 1.5625rem;
    font-weight:700;
        line-height: 30px;
        font-family:'test';
        color:white;
        


}
p{
  color:white
}
    }


}





    

  }

}
}
}


