@font-face {
  font-family: "test";
  src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "test";
}
nav {
  background-color: black;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  z-index:9999;
}
.container {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;}
  #logoimg {
  width: 137px;
  padding-bottom: 4px;
  margin-right: 221px;
}
.fst-ul {
  gap: 30px;
  display: flex;
  
  /* ----------------------------------------------------------- */
.choices {
  list-style: none;
  
 
.c {
  font-family: "test";
 color: rgba(255, 255, 255, .7);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 28px;

position:relative;



  &:after{
    content: "";
    position:absolute;
   
    top:45%;
    left:110%;
    border-left: 4px solid transparent;
    border-right:4px solid transparent;
    border-top:6px solid  rgba(255, 255, 255, .7);
    
  }

&:hover {
  color: #ffffffcc;
}
}
.snd-ul {
  background-color: black;
  list-style: none;
  position: absolute;
  z-index: 9999;
  display: none;
    padding: .3rem 1.5rem;
    .choices:hover & {
  display: block;
}
.inner-links {
  text-decoration: none;
  color: #5e6e82;
    /* padding-top:4.8px;
  padding-bottom:4.8px; */
      
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:hover {
  transition: 500ms;
  color: white;

}
}
}
}
}
.mkreser {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 52px;
  padding-left: 52px;
  font-weight: 700;
  border: 2px solid;
  cursor: pointer;
  color: #ffc554;
  background-color: transparent;
  border-color: #ffc554;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 221px;
  &:hover {
  background-color: #ffc554;
  color: #5e6e82;
}
}
main{
  display:flex;
  flex-direction: row;
  align-items: center;

  
}
.container2 {

height:100vh;

}


#vector{
position:absolute;
z-index:-1;
height:101vh;
  width:35%;


}
#plate{
 
vertical-align:middle;
position:relative;
z-index:5;

  width:570.9px;
  height:570.9px;
  left:3.5rem;
  top:17vh;


}


.innercontainer{
width:65%;
margin-left: 13%;
  h1{
    /* font-family: 'test'; */
    font-size:300;
       line-height: 1.2;
    color: #000;
display: flex;
width:602.984px;
font-size: 2.44141rem;

  }
  p{
   color: rgb(94, 110, 130);
 font-family: 'test';
  }
  .buttons{
    #leftbutton{

    }
    #rightbutton{

    }
  }
}