@font-face {
  font-family: "test";
  src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "test";
}
nav {
  background-color: black;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;



  /* container */
  /* ----------------------------------------------------------- */
.container {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
/* لوجو صوره */
/* ----------------------------------------------------------- */
#logoimg {
  width: 137px;
  padding-bottom: 4px;
  margin-right: 221px;
}
  
  /* ----------------------------------------------------------- */
.fst-ul {
  gap: 28px;
  display: flex;
  
  /* ----------------------------------------------------------- */
.choices {
  list-style: none;
  
 
.c {
  font-family: "test";
 color: rgba(255, 255, 255, .7);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 28px;

&:hover {
  color: #ffffffcc;
}
}
.snd-ul {
  background-color: black;
  list-style: none;
  position: absolute;
  z-index: 9999;
  display: none;
    padding: .3rem 1.5rem;
    .choices:hover & {
  display: block;
}
.inner-links {
  text-decoration: none;
  color: #5e6e82;
    /* padding-top:4.8px;
  padding-bottom:4.8px; */
      
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:hover {
  transition: 500ms;
  color: white;

}
}
}
}
}
.mkreser {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 52px;
  padding-left: 52px;
  font-weight: 700;
  border: 2px solid;
  cursor: pointer;
  color: #ffc554;
  background-color: transparent;
  border-color: #ffc554;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 221px;
  &:hover {
  background-color: #ffc554;
  color: #5e6e82;
}
}
}
}
