@font-face {
  font-family: "test";
  src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  nav {
    width: 100%;
    height: 65px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 80%;
      margin-left: 10%;
      .innercontainer {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 75%;
        align-items: center;
        margin-top: 13px;
        margin-bottom: 20px;
        a {
          color: rgba(255, 255, 255, 0.7);
          font-family: "test";
          text-decoration: none;
        }
        #mkreser {
          border-color: #ffc554;
          background-color: transparent;
          color: #ffc554;

          width: 20%;
          height: 40px;

          border-radius: 3px;
          box-shadow: none;
          border-style: solid;
          font-weight: 550;
          font-family: "test";
          font-size: medium;

          &:hover {
            border-color: #ffc554;
            background-color: #ffc554;
            color: #4d5969;
          }
        }
        img {
          width: 20px;
        }
      }
    }
  }

  #image {
    #innerimage {
      position: absloute;
    }
  }
}
